{% extends "boilerplate.html" %}
{% block title %}All about {{ ff }}{% endblock %}
{% block body %}
    <h1>All about {{formulas[ff].longname}}</h1>
    <h2>Proof Systems</h2>
    <ul>
    {% for cp in complexities %}
    <li>The size complexity of {{formulas[cp.f].longname}} in
      <a href="{{cp.ps}}.html">
          {{proofsystems[cp.ps].longname}}
      </a>
      is {{cp.id}}
      {{ reference.reference(cp.source) }}
    </li>
    {% endfor %}
    </ul>
{% endblock %}
