{% extends "boilerplate.html" %}
{% block title %}Proof Complexity Zoo{% endblock %}
{% block body %}
{% set rootnav = "." if CONFIG_OUTPUT == "" else ".." %}
    <div style="min-width:fit-content;">
    <h1>Proof Complexity Zoo</h1>
    <p>
      The Proof Complexity Zoo is a community-editable database of proof systems, formulas, and relations among them. The project is in its initial stage, and suggestions on which data to store, which queries to support, and how to present the information are particularly welcome. The database is user maintained and can be edited at <a href="https://gitlab.com/proofcomplexityzoo/zoo/-/edit/master/zoo.yaml">https://gitlab.com/proofcomplexityzoo/zoo/-/edit/master/zoo.yaml</a> after <a href="https://gitlab.com/users/sign_up">
creating a user account on Gitlab</a> and <a href="https://gitlab.com/proofcomplexityzoo/zoo/-/project_members/request_access">asking for editing permissions</a>.
    </p>
    <h2>Settings</h2>
    <a href="{{rootnav}}/index.html" {{'class="settings-selected"' if CONFIG_OUTPUT == ""}}>Quasipolynomial simulations</a>
    /
    <a href="{{rootnav}}/qpsep/index.html" {{'class="settings-selected"' if CONFIG_OUTPUT == "qpsep/"}}>Quasipolynomial separations</a>
    <h2>Diagrams</h2>
    <ul>
      <li><a href="zoo-clean.pdf">Minimal diagram</a></li>
      <li><a href="zoo-raw.pdf">Raw relations</a> (for debugging purposes)</li>
    </ul>
    <div style="float:right;">
    {% filter strip_svg_header %}
    {% filter visible_dots %}
      {% include "build/{}zoo-clean.svg".format(CONFIG_OUTPUT) %}
    {% endfilter %}
    {% endfilter %}
    <br>
    {% include "legend.svg" %}
    </div>
    <h2>Proof Systems</h2>
    <ul>
      {% for ps,v in proofsystems.items() %}
      <li>
        <a href="{{ps}}.html">
          {{v.longname}}
        </a>
      </li>
    {% endfor %}
    </ul>
    <h2>Formulas</h2>
    <ul>
    {% for f,v in formulas.items() %}
      <li>
        <a href="{{f}}.html">
          {{v.longname}}
        </a>
      </li>
    {% endfor %}
    </ul>
    <h2>References</h2>
    <ul>
    {% for p,v in papers.items() %}
      <li>
        <a href="{{v.url}}">
          {{v.title}}
        </a>
      </li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}
